.foolic-message {
	padding: 5px 10px;
	border-left: solid 4px #DDD;
	background: #efefef;
	margin-top: 10px;
}

	.foolic-message.foolic-message-failure {
		border-color: #800;
		color: #800;
	}

	.foolic-message.foolic-message-success {
		border-color: #080;
		color: #080;
	}

.foolic_license_listing_item table tbody th {
	width:200px;
}

.foolic-hide-licensekey{
	display: none;
}

	.foolic-hide-licensekey + a {
		padding-left:5px;
	}

a.foolic-action {
	padding-left:5px;
}

	a.foolic-action.foolic-action-urgent {
		color: #d00;
	}